@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    font-family: 'Inter';
}

$violet: #654f6f;
$blue: #5c5d8d;
$grey: #99a1a6;
$eton: #a8c69f;

.hero-container {
    background-color: $eton;
    height: 400px;
    margin: 0;
    display: flex;
    flex-direction: column;

    h2 {
        padding-top: 1.5%;
    }
    .title {
        margin: 0;
        margin-left: 8%;
        color: white;
        text-shadow: 1px 1px black;
    }
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container {
    background-color: $blue;
    width: 40%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 18%; 

    h3 {
        color: white;
        padding: 8px;
        text-shadow: 1px 1px black;
        margin-bottom: 3px;
        margin-left: 15px;
    }

    .icon {
        padding-right: 5px;
        text-shadow: 3px 6px black;
    }

    p {
        color: white;
        text-shadow: 1px 1px black;
        margin: 15px;
        margin-top: 0;
        font-size: smaller;
        padding: 3px;
    }

    .profile {
        border-bottom: 3px solid $eton;
    }

    .contact {
        padding-bottom: 3px;
        display: flex;
        flex-direction: column;
    }

    .work {

        h5 {
            margin-top: 0;
            margin-left: 17px;
            margin-bottom: 3px;
            color: white;
            text-shadow: 2px 2px black;
        }

        p {
            text-shadow: 1px 1px black;
        }
    }
}

.right-container {
    background-color: rgb(201, 201, 201);
    width: 60%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 18%; 
    display: flex;
    justify-content: center;
    flex-direction: row;

    .core {
        margin-left: 5px;
        h3 {
            color: $blue
        }

        p {
            font-size: smaller;
            font-weight: 600;
            color: $blue;
        }
    }

    .icon {
        padding-right: 5px;
    }

    .education, .skills {
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        color: $blue;
        margin-left: 10%;

        p {
            font-weight: 600;
            margin: 0;
        }

        span {
            font-weight: 600;
            padding-top: 8px;
        }

        .date {
            font-size: smaller;
            font-weight: 500;
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }

    .contact, .border {
        position: absolute !important;
        bottom: 0;
        left: 0;
        top: 70%;
        margin-left: 15px;

        h3 {
            color: $blue;
        }

        a {
            text-decoration: none;
        }

        .contact-icon {
            color: $blue;
            margin: 15px;
            margin-top: 0;
            font-size: smaller;
            padding: 3px;
        }
    }

    .border {
        border-top: 3px solid $eton;
        margin-left: 0;
        width: 100%;

        p {
            color: rgb(201, 201, 201);
        }
    }
}